/*====>positions  ====*/
.t0 {
  top: 0px;
}

.b0 {
  bottom: 0px;
}

.l0 {
  left: 0px;
}

.r0 {
  right: 0px;
}

.t1 {
  top: 1px;
}

.b1 {
  bottom: 1px;
}

.l1 {
  left: 1px;
}

.r1 {
  right: 1px;
}

.t2 {
  top: 2px;
}

.b2 {
  bottom: 2px;
}

.l2 {
  left: 2px;
}

.r2 {
  right: 2px;
}

.t3 {
  top: 3px;
}

.b3 {
  bottom: 3px;
}

.l3 {
  left: 3px;
}

.r3 {
  right: 3px;
}

.t4 {
  top: 4px;
}

.b4 {
  bottom: 4px;
}

.l4 {
  left: 4px;
}

.r4 {
  right: 4px;
}

.t5 {
  top: 5px;
}

.b5 {
  bottom: 5px;
}

.l5 {
  left: 5px;
}

.r5 {
  right: 5px;
}

.t6 {
  top: 6px;
}

.b6 {
  bottom: 6px;
}

.l6 {
  left: 6px;
}

.r6 {
  right: 6px;
}

.t7 {
  top: 7px;
}

.b7 {
  bottom: 7px;
}

.l7 {
  left: 7px;
}

.r7 {
  right: 7px;
}

.t8 {
  top: 8px;
}

.b8 {
  bottom: 8px;
}

.l8 {
  left: 8px;
}

.r8 {
  right: 8px;
}

.t9 {
  top: 9px;
}

.b9 {
  bottom: 9px;
}

.l9 {
  left: 9px;
}

.r9 {
  right: 9px;
}

.t10 {
  top: 10px;
}

.b10 {
  bottom: 10px;
}

.l10 {
  left: 10px;
}

.r10 {
  right: 10px;
}

.t11 {
  top: 11px;
}

.b11 {
  bottom: 11px;
}

.l11 {
  left: 11px;
}

.r11 {
  right: 11px;
}

.t12 {
  top: 12px;
}

.b12 {
  bottom: 12px;
}

.l12 {
  left: 12px;
}

.r12 {
  right: 12px;
}

.t13 {
  top: 13px;
}

.b13 {
  bottom: 13px;
}

.l13 {
  left: 13px;
}

.r13 {
  right: 13px;
}

.t14 {
  top: 14px;
}

.b14 {
  bottom: 14px;
}

.l14 {
  left: 14px;
}

.r14 {
  right: 14px;
}

.t15 {
  top: 15px;
}

.b15 {
  bottom: 15px;
}

.l15 {
  left: 15px;
}

.r15 {
  right: 15px;
}

.t16 {
  top: 16px;
}

.b16 {
  bottom: 16px;
}

.l16 {
  left: 16px;
}

.r16 {
  right: 16px;
}

.t17 {
  top: 17px;
}

.b17 {
  bottom: 17px;
}

.l17 {
  left: 17px;
}

.r17 {
  right: 17px;
}

.t18 {
  top: 18px;
}

.b18 {
  bottom: 18px;
}

.l18 {
  left: 18px;
}

.r18 {
  right: 18px;
}

.t19 {
  top: 19px;
}

.b19 {
  bottom: 19px;
}

.l19 {
  left: 19px;
}

.r19 {
  right: 19px;
}

.t20 {
  top: 20px;
}

.b20 {
  bottom: 20px;
}

.l20 {
  left: 20px;
}

.r20 {
  right: 20px;
}

.t21 {
  top: 21px;
}

.b21 {
  bottom: 21px;
}

.l21 {
  left: 21px;
}

.r21 {
  right: 21px;
}

.t22 {
  top: 22px;
}

.b22 {
  bottom: 22px;
}

.l22 {
  left: 22px;
}

.r22 {
  right: 22px;
}

.t23 {
  top: 23px;
}

.b23 {
  bottom: 23px;
}

.l23 {
  left: 23px;
}

.r23 {
  right: 23px;
}

.t24 {
  top: 24px;
}

.b24 {
  bottom: 24px;
}

.l24 {
  left: 24px;
}

.r24 {
  right: 24px;
}

.t25 {
  top: 25px;
}

.b25 {
  bottom: 25px;
}

.l25 {
  left: 25px;
}

.r25 {
  right: 25px;
}

.t26 {
  top: 26px;
}

.b26 {
  bottom: 26px;
}

.l26 {
  left: 26px;
}

.r26 {
  right: 26px;
}

.t27 {
  top: 27px;
}

.b27 {
  bottom: 27px;
}

.l27 {
  left: 27px;
}

.r27 {
  right: 27px;
}

.t28 {
  top: 28px;
}

.b28 {
  bottom: 28px;
}

.l28 {
  left: 28px;
}

.r28 {
  right: 28px;
}

.t29 {
  top: 29px;
}

.b29 {
  bottom: 29px;
}

.l29 {
  left: 29px;
}

.r29 {
  right: 29px;
}

.t30 {
  top: 30px;
}

.b30 {
  bottom: 30px;
}

.l30 {
  left: 30px;
}

.r30 {
  right: 30px;
}

.t31 {
  top: 31px;
}

.b31 {
  bottom: 31px;
}

.l31 {
  left: 31px;
}

.r31 {
  right: 31px;
}

.t32 {
  top: 32px;
}

.b32 {
  bottom: 32px;
}

.l32 {
  left: 32px;
}

.r32 {
  right: 32px;
}

.t33 {
  top: 33px;
}

.b33 {
  bottom: 33px;
}

.l33 {
  left: 33px;
}

.r33 {
  right: 33px;
}

.t34 {
  top: 34px;
}

.b34 {
  bottom: 34px;
}

.l34 {
  left: 34px;
}

.r34 {
  right: 34px;
}

.t35 {
  top: 35px;
}

.b35 {
  bottom: 35px;
}

.l35 {
  left: 35px;
}

.r35 {
  right: 35px;
}

.t36 {
  top: 36px;
}

.b36 {
  bottom: 36px;
}

.l36 {
  left: 36px;
}

.r36 {
  right: 36px;
}

.t37 {
  top: 37px;
}

.b37 {
  bottom: 37px;
}

.l37 {
  left: 37px;
}

.r37 {
  right: 37px;
}

.t38 {
  top: 38px;
}

.b38 {
  bottom: 38px;
}

.l38 {
  left: 38px;
}

.r38 {
  right: 38px;
}

.t39 {
  top: 39px;
}

.b39 {
  bottom: 39px;
}

.l39 {
  left: 39px;
}

.r39 {
  right: 39px;
}

.t40 {
  top: 40px;
}

.b40 {
  bottom: 40px;
}

.l40 {
  left: 40px;
}

.r40 {
  right: 40px;
}

.t41 {
  top: 41px;
}

.b41 {
  bottom: 41px;
}

.l41 {
  left: 41px;
}

.r41 {
  right: 41px;
}

.t42 {
  top: 42px;
}

.b42 {
  bottom: 42px;
}

.l42 {
  left: 42px;
}

.r42 {
  right: 42px;
}

.t43 {
  top: 43px;
}

.b43 {
  bottom: 43px;
}

.l43 {
  left: 43px;
}

.r43 {
  right: 43px;
}

.t44 {
  top: 44px;
}

.b44 {
  bottom: 44px;
}

.l44 {
  left: 44px;
}

.r44 {
  right: 44px;
}

.t45 {
  top: 45px;
}

.b45 {
  bottom: 45px;
}

.l45 {
  left: 45px;
}

.r45 {
  right: 45px;
}

.t46 {
  top: 46px;
}

.b46 {
  bottom: 46px;
}

.l46 {
  left: 46px;
}

.r46 {
  right: 46px;
}

.t47 {
  top: 47px;
}

.b47 {
  bottom: 47px;
}

.l47 {
  left: 47px;
}

.r47 {
  right: 47px;
}

.t48 {
  top: 48px;
}

.b48 {
  bottom: 48px;
}

.l48 {
  left: 48px;
}

.r48 {
  right: 48px;
}

.t49 {
  top: 49px;
}

.b49 {
  bottom: 49px;
}

.l49 {
  left: 49px;
}

.r49 {
  right: 49px;
}

.t50 {
  top: 50px;
}

.b50 {
  bottom: 50px;
}

.l50 {
  left: 50px;
}

.r50 {
  right: 50px;
}

.t51 {
  top: 51px;
}

.b51 {
  bottom: 51px;
}

.l51 {
  left: 51px;
}

.r51 {
  right: 51px;
}

.t52 {
  top: 52px;
}

.b52 {
  bottom: 52px;
}

.l52 {
  left: 52px;
}

.r52 {
  right: 52px;
}

.t53 {
  top: 53px;
}

.b53 {
  bottom: 53px;
}

.l53 {
  left: 53px;
}

.r53 {
  right: 53px;
}

.t54 {
  top: 54px;
}

.b54 {
  bottom: 54px;
}

.l54 {
  left: 54px;
}

.r54 {
  right: 54px;
}

.t55 {
  top: 55px;
}

.b55 {
  bottom: 55px;
}

.l55 {
  left: 55px;
}

.r55 {
  right: 55px;
}

.t56 {
  top: 56px;
}

.b56 {
  bottom: 56px;
}

.l56 {
  left: 56px;
}

.r56 {
  right: 56px;
}

.t57 {
  top: 57px;
}

.b57 {
  bottom: 57px;
}

.l57 {
  left: 57px;
}

.r57 {
  right: 57px;
}

.t58 {
  top: 58px;
}

.b58 {
  bottom: 58px;
}

.l58 {
  left: 58px;
}

.r58 {
  right: 58px;
}

.t59 {
  top: 59px;
}

.b59 {
  bottom: 59px;
}

.l59 {
  left: 59px;
}

.r59 {
  right: 59px;
}

.t60 {
  top: 60px;
}

.b60 {
  bottom: 60px;
}

.l60 {
  left: 60px;
}

.r60 {
  right: 60px;
}

.t61 {
  top: 61px;
}

.b61 {
  bottom: 61px;
}

.l61 {
  left: 61px;
}

.r61 {
  right: 61px;
}

.t62 {
  top: 62px;
}

.b62 {
  bottom: 62px;
}

.l62 {
  left: 62px;
}

.r62 {
  right: 62px;
}

.t63 {
  top: 63px;
}

.b63 {
  bottom: 63px;
}

.l63 {
  left: 63px;
}

.r63 {
  right: 63px;
}

.t64 {
  top: 64px;
}

.b64 {
  bottom: 64px;
}

.l64 {
  left: 64px;
}

.r64 {
  right: 64px;
}

.t65 {
  top: 65px;
}

.b65 {
  bottom: 65px;
}

.l65 {
  left: 65px;
}

.r65 {
  right: 65px;
}

.t66 {
  top: 66px;
}

.b66 {
  bottom: 66px;
}

.l66 {
  left: 66px;
}

.r66 {
  right: 66px;
}

.t67 {
  top: 67px;
}

.b67 {
  bottom: 67px;
}

.l67 {
  left: 67px;
}

.r67 {
  right: 67px;
}

.t68 {
  top: 68px;
}

.b68 {
  bottom: 68px;
}

.l68 {
  left: 68px;
}

.r68 {
  right: 68px;
}

.t69 {
  top: 69px;
}

.b69 {
  bottom: 69px;
}

.l69 {
  left: 69px;
}

.r69 {
  right: 69px;
}

.t70 {
  top: 70px;
}

.b70 {
  bottom: 70px;
}

.l70 {
  left: 70px;
}

.r70 {
  right: 70px;
}

.t71 {
  top: 71px;
}

.b71 {
  bottom: 71px;
}

.l71 {
  left: 71px;
}

.r71 {
  right: 71px;
}

.t72 {
  top: 72px;
}

.b72 {
  bottom: 72px;
}

.l72 {
  left: 72px;
}

.r72 {
  right: 72px;
}

.t73 {
  top: 73px;
}

.b73 {
  bottom: 73px;
}

.l73 {
  left: 73px;
}

.r73 {
  right: 73px;
}

.t74 {
  top: 74px;
}

.b74 {
  bottom: 74px;
}

.l74 {
  left: 74px;
}

.r74 {
  right: 74px;
}

.t75 {
  top: 75px;
}

.b75 {
  bottom: 75px;
}

.l75 {
  left: 75px;
}

.r75 {
  right: 75px;
}

.t76 {
  top: 76px;
}

.b76 {
  bottom: 76px;
}

.l76 {
  left: 76px;
}

.r76 {
  right: 76px;
}

.t77 {
  top: 77px;
}

.b77 {
  bottom: 77px;
}

.l77 {
  left: 77px;
}

.r77 {
  right: 77px;
}

.t78 {
  top: 78px;
}

.b78 {
  bottom: 78px;
}

.l78 {
  left: 78px;
}

.r78 {
  right: 78px;
}

.t79 {
  top: 79px;
}

.b79 {
  bottom: 79px;
}

.l79 {
  left: 79px;
}

.r79 {
  right: 79px;
}

.t80 {
  top: 80px;
}

.b80 {
  bottom: 80px;
}

.l80 {
  left: 80px;
}

.r80 {
  right: 80px;
}

.t81 {
  top: 81px;
}

.b81 {
  bottom: 81px;
}

.l81 {
  left: 81px;
}

.r81 {
  right: 81px;
}

.t82 {
  top: 82px;
}

.b82 {
  bottom: 82px;
}

.l82 {
  left: 82px;
}

.r82 {
  right: 82px;
}

.t83 {
  top: 83px;
}

.b83 {
  bottom: 83px;
}

.l83 {
  left: 83px;
}

.r83 {
  right: 83px;
}

.t84 {
  top: 84px;
}

.b84 {
  bottom: 84px;
}

.l84 {
  left: 84px;
}

.r84 {
  right: 84px;
}

.t85 {
  top: 85px;
}

.b85 {
  bottom: 85px;
}

.l85 {
  left: 85px;
}

.r85 {
  right: 85px;
}

.t86 {
  top: 86px;
}

.b86 {
  bottom: 86px;
}

.l86 {
  left: 86px;
}

.r86 {
  right: 86px;
}

.t87 {
  top: 87px;
}

.b87 {
  bottom: 87px;
}

.l87 {
  left: 87px;
}

.r87 {
  right: 87px;
}

.t88 {
  top: 88px;
}

.b88 {
  bottom: 88px;
}

.l88 {
  left: 88px;
}

.r88 {
  right: 88px;
}

.t89 {
  top: 89px;
}

.b89 {
  bottom: 89px;
}

.l89 {
  left: 89px;
}

.r89 {
  right: 89px;
}

.t90 {
  top: 90px;
}

.b90 {
  bottom: 90px;
}

.l90 {
  left: 90px;
}

.r90 {
  right: 90px;
}

.t91 {
  top: 91px;
}

.b91 {
  bottom: 91px;
}

.l91 {
  left: 91px;
}

.r91 {
  right: 91px;
}

.t92 {
  top: 92px;
}

.b92 {
  bottom: 92px;
}

.l92 {
  left: 92px;
}

.r92 {
  right: 92px;
}

.t93 {
  top: 93px;
}

.b93 {
  bottom: 93px;
}

.l93 {
  left: 93px;
}

.r93 {
  right: 93px;
}

.t94 {
  top: 94px;
}

.b94 {
  bottom: 94px;
}

.l94 {
  left: 94px;
}

.r94 {
  right: 94px;
}

.t95 {
  top: 95px;
}

.b95 {
  bottom: 95px;
}

.l95 {
  left: 95px;
}

.r95 {
  right: 95px;
}

.t96 {
  top: 96px;
}

.b96 {
  bottom: 96px;
}

.l96 {
  left: 96px;
}

.r96 {
  right: 96px;
}

.t97 {
  top: 97px;
}

.b97 {
  bottom: 97px;
}

.l97 {
  left: 97px;
}

.r97 {
  right: 97px;
}

.t98 {
  top: 98px;
}

.b98 {
  bottom: 98px;
}

.l98 {
  left: 98px;
}

.r98 {
  right: 98px;
}

.t99 {
  top: 99px;
}

.b99 {
  bottom: 99px;
}

.l99 {
  left: 99px;
}

.r99 {
  right: 99px;
}

.t100 {
  top: 100px;
}

.b100 {
  bottom: 100px;
}

.l100 {
  left: 100px;
}

.r100 {
  right: 100px;
}

/*====>margins  ====*/
.m0 {
  margin: 0px;
}

.m1 {
  margin: 1px;
}

.m2 {
  margin: 2px;
}

.m3 {
  margin: 3px;
}

.m4 {
  margin: 4px;
}

.m5 {
  margin: 5px;
}

.m6 {
  margin: 6px;
}

.m7 {
  margin: 7px;
}

.m8 {
  margin: 8px;
}

.m9 {
  margin: 9px;
}

.m10 {
  margin: 10px;
}

.m11 {
  margin: 11px;
}

.m12 {
  margin: 12px;
}

.m13 {
  margin: 13px;
}

.m14 {
  margin: 14px;
}

.m15 {
  margin: 15px;
}

.m16 {
  margin: 16px;
}

.m17 {
  margin: 17px;
}

.m18 {
  margin: 18px;
}

.m19 {
  margin: 19px;
}

.m20 {
  margin: 20px;
}

.m21 {
  margin: 21px;
}

.m22 {
  margin: 22px;
}

.m23 {
  margin: 23px;
}

.m24 {
  margin: 24px;
}

.m25 {
  margin: 25px;
}

.m26 {
  margin: 26px;
}

.m27 {
  margin: 27px;
}

.m28 {
  margin: 28px;
}

.m29 {
  margin: 29px;
}

.m30 {
  margin: 30px;
}

.m31 {
  margin: 31px;
}

.m32 {
  margin: 32px;
}

.m33 {
  margin: 33px;
}

.m34 {
  margin: 34px;
}

.m35 {
  margin: 35px;
}

.m36 {
  margin: 36px;
}

.m37 {
  margin: 37px;
}

.m38 {
  margin: 38px;
}

.m39 {
  margin: 39px;
}

.m40 {
  margin: 40px;
}

.m41 {
  margin: 41px;
}

.m42 {
  margin: 42px;
}

.m43 {
  margin: 43px;
}

.m44 {
  margin: 44px;
}

.m45 {
  margin: 45px;
}

.m46 {
  margin: 46px;
}

.m47 {
  margin: 47px;
}

.m48 {
  margin: 48px;
}

.m49 {
  margin: 49px;
}

.m50 {
  margin: 50px;
}

.m51 {
  margin: 51px;
}

.m52 {
  margin: 52px;
}

.m53 {
  margin: 53px;
}

.m54 {
  margin: 54px;
}

.m55 {
  margin: 55px;
}

.m56 {
  margin: 56px;
}

.m57 {
  margin: 57px;
}

.m58 {
  margin: 58px;
}

.m59 {
  margin: 59px;
}

.m60 {
  margin: 60px;
}

.m61 {
  margin: 61px;
}

.m62 {
  margin: 62px;
}

.m63 {
  margin: 63px;
}

.m64 {
  margin: 64px;
}

.m65 {
  margin: 65px;
}

.m66 {
  margin: 66px;
}

.m67 {
  margin: 67px;
}

.m68 {
  margin: 68px;
}

.m69 {
  margin: 69px;
}

.m70 {
  margin: 70px;
}

.m71 {
  margin: 71px;
}

.m72 {
  margin: 72px;
}

.m73 {
  margin: 73px;
}

.m74 {
  margin: 74px;
}

.m75 {
  margin: 75px;
}

.m76 {
  margin: 76px;
}

.m77 {
  margin: 77px;
}

.m78 {
  margin: 78px;
}

.m79 {
  margin: 79px;
}

.m80 {
  margin: 80px;
}

.m81 {
  margin: 81px;
}

.m82 {
  margin: 82px;
}

.m83 {
  margin: 83px;
}

.m84 {
  margin: 84px;
}

.m85 {
  margin: 85px;
}

.m86 {
  margin: 86px;
}

.m87 {
  margin: 87px;
}

.m88 {
  margin: 88px;
}

.m89 {
  margin: 89px;
}

.m90 {
  margin: 90px;
}

.m91 {
  margin: 91px;
}

.m92 {
  margin: 92px;
}

.m93 {
  margin: 93px;
}

.m94 {
  margin: 94px;
}

.m95 {
  margin: 95px;
}

.m96 {
  margin: 96px;
}

.m97 {
  margin: 97px;
}

.m98 {
  margin: 98px;
}

.m99 {
  margin: 99px;
}

.m100 {
  margin: 100px;
}

.mt0 {
  margin-top: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.ml0 {
  margin-left: 0px;
}

.mr0 {
  margin-right: 0px;
}

.mt1 {
  margin-top: 1px;
}

.mb1 {
  margin-bottom: 1px;
}

.ml1 {
  margin-left: 1px;
}

.mr1 {
  margin-right: 1px;
}

.mt2 {
  margin-top: 2px;
}

.mb2 {
  margin-bottom: 2px;
}

.ml2 {
  margin-left: 2px;
}

.mr2 {
  margin-right: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mb3 {
  margin-bottom: 3px;
}

.ml3 {
  margin-left: 3px;
}

.mr3 {
  margin-right: 3px;
}

.mt4 {
  margin-top: 4px;
}

.mb4 {
  margin-bottom: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mr4 {
  margin-right: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mt6 {
  margin-top: 6px;
}

.mb6 {
  margin-bottom: 6px;
}

.ml6 {
  margin-left: 6px;
}

.mr6 {
  margin-right: 6px;
}

.mt7 {
  margin-top: 7px;
}

.mb7 {
  margin-bottom: 7px;
}

.ml7 {
  margin-left: 7px;
}

.mr7 {
  margin-right: 7px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mb9 {
  margin-bottom: 9px;
}

.ml9 {
  margin-left: 9px;
}

.mr9 {
  margin-right: 9px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt11 {
  margin-top: 11px;
}

.mb11 {
  margin-bottom: 11px;
}

.ml11 {
  margin-left: 11px;
}

.mr11 {
  margin-right: 11px;
}

.mt12 {
  margin-top: 12px;
}

.mb12 {
  margin-bottom: 12px;
}

.ml12 {
  margin-left: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mt13 {
  margin-top: 13px;
}

.mb13 {
  margin-bottom: 13px;
}

.ml13 {
  margin-left: 13px;
}

.mr13 {
  margin-right: 13px;
}

.mt14 {
  margin-top: 14px;
}

.mb14 {
  margin-bottom: 14px;
}

.ml14 {
  margin-left: 14px;
}

.mr14 {
  margin-right: 14px;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mr15 {
  margin-right: 15px;
}

.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mt17 {
  margin-top: 17px;
}

.mb17 {
  margin-bottom: 17px;
}

.ml17 {
  margin-left: 17px;
}

.mr17 {
  margin-right: 17px;
}

.mt18 {
  margin-top: 18px;
}

.mb18 {
  margin-bottom: 18px;
}

.ml18 {
  margin-left: 18px;
}

.mr18 {
  margin-right: 18px;
}

.mt19 {
  margin-top: 19px;
}

.mb19 {
  margin-bottom: 19px;
}

.ml19 {
  margin-left: 19px;
}

.mr19 {
  margin-right: 19px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt21 {
  margin-top: 21px;
}

.mb21 {
  margin-bottom: 21px;
}

.ml21 {
  margin-left: 21px;
}

.mr21 {
  margin-right: 21px;
}

.mt22 {
  margin-top: 22px;
}

.mb22 {
  margin-bottom: 22px;
}

.ml22 {
  margin-left: 22px;
}

.mr22 {
  margin-right: 22px;
}

.mt23 {
  margin-top: 23px;
}

.mb23 {
  margin-bottom: 23px;
}

.ml23 {
  margin-left: 23px;
}

.mr23 {
  margin-right: 23px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mt25 {
  margin-top: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

.ml25 {
  margin-left: 25px;
}

.mr25 {
  margin-right: 25px;
}

.mt26 {
  margin-top: 26px;
}

.mb26 {
  margin-bottom: 26px;
}

.ml26 {
  margin-left: 26px;
}

.mr26 {
  margin-right: 26px;
}

.mt27 {
  margin-top: 27px;
}

.mb27 {
  margin-bottom: 27px;
}

.ml27 {
  margin-left: 27px;
}

.mr27 {
  margin-right: 27px;
}

.mt28 {
  margin-top: 28px;
}

.mb28 {
  margin-bottom: 28px;
}

.ml28 {
  margin-left: 28px;
}

.mr28 {
  margin-right: 28px;
}

.mt29 {
  margin-top: 29px;
}

.mb29 {
  margin-bottom: 29px;
}

.ml29 {
  margin-left: 29px;
}

.mr29 {
  margin-right: 29px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.mt31 {
  margin-top: 31px;
}

.mb31 {
  margin-bottom: 31px;
}

.ml31 {
  margin-left: 31px;
}

.mr31 {
  margin-right: 31px;
}

.mt32 {
  margin-top: 32px;
}

.mb32 {
  margin-bottom: 32px;
}

.ml32 {
  margin-left: 32px;
}

.mr32 {
  margin-right: 32px;
}

.mt33 {
  margin-top: 33px;
}

.mb33 {
  margin-bottom: 33px;
}

.ml33 {
  margin-left: 33px;
}

.mr33 {
  margin-right: 33px;
}

.mt34 {
  margin-top: 34px;
}

.mb34 {
  margin-bottom: 34px;
}

.ml34 {
  margin-left: 34px;
}

.mr34 {
  margin-right: 34px;
}

.mt35 {
  margin-top: 35px;
}

.mb35 {
  margin-bottom: 35px;
}

.ml35 {
  margin-left: 35px;
}

.mr35 {
  margin-right: 35px;
}

.mt36 {
  margin-top: 36px;
}

.mb36 {
  margin-bottom: 36px;
}

.ml36 {
  margin-left: 36px;
}

.mr36 {
  margin-right: 36px;
}

.mt37 {
  margin-top: 37px;
}

.mb37 {
  margin-bottom: 37px;
}

.ml37 {
  margin-left: 37px;
}

.mr37 {
  margin-right: 37px;
}

.mt38 {
  margin-top: 38px;
}

.mb38 {
  margin-bottom: 38px;
}

.ml38 {
  margin-left: 38px;
}

.mr38 {
  margin-right: 38px;
}

.mt39 {
  margin-top: 39px;
}

.mb39 {
  margin-bottom: 39px;
}

.ml39 {
  margin-left: 39px;
}

.mr39 {
  margin-right: 39px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.ml40 {
  margin-left: 40px;
}

.mr40 {
  margin-right: 40px;
}

.mt41 {
  margin-top: 41px;
}

.mb41 {
  margin-bottom: 41px;
}

.ml41 {
  margin-left: 41px;
}

.mr41 {
  margin-right: 41px;
}

.mt42 {
  margin-top: 42px;
}

.mb42 {
  margin-bottom: 42px;
}

.ml42 {
  margin-left: 42px;
}

.mr42 {
  margin-right: 42px;
}

.mt43 {
  margin-top: 43px;
}

.mb43 {
  margin-bottom: 43px;
}

.ml43 {
  margin-left: 43px;
}

.mr43 {
  margin-right: 43px;
}

.mt44 {
  margin-top: 44px;
}

.mb44 {
  margin-bottom: 44px;
}

.ml44 {
  margin-left: 44px;
}

.mr44 {
  margin-right: 44px;
}

.mt45 {
  margin-top: 45px;
}

.mb45 {
  margin-bottom: 45px;
}

.ml45 {
  margin-left: 45px;
}

.mr45 {
  margin-right: 45px;
}

.mt46 {
  margin-top: 46px;
}

.mb46 {
  margin-bottom: 46px;
}

.ml46 {
  margin-left: 46px;
}

.mr46 {
  margin-right: 46px;
}

.mt47 {
  margin-top: 47px;
}

.mb47 {
  margin-bottom: 47px;
}

.ml47 {
  margin-left: 47px;
}

.mr47 {
  margin-right: 47px;
}

.mt48 {
  margin-top: 48px;
}

.mb48 {
  margin-bottom: 48px;
}

.ml48 {
  margin-left: 48px;
}

.mr48 {
  margin-right: 48px;
}

.mt49 {
  margin-top: 49px;
}

.mb49 {
  margin-bottom: 49px;
}

.ml49 {
  margin-left: 49px;
}

.mr49 {
  margin-right: 49px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml50 {
  margin-left: 50px;
}

.mr50 {
  margin-right: 50px;
}

.mt51 {
  margin-top: 51px;
}

.mb51 {
  margin-bottom: 51px;
}

.ml51 {
  margin-left: 51px;
}

.mr51 {
  margin-right: 51px;
}

.mt52 {
  margin-top: 52px;
}

.mb52 {
  margin-bottom: 52px;
}

.ml52 {
  margin-left: 52px;
}

.mr52 {
  margin-right: 52px;
}

.mt53 {
  margin-top: 53px;
}

.mb53 {
  margin-bottom: 53px;
}

.ml53 {
  margin-left: 53px;
}

.mr53 {
  margin-right: 53px;
}

.mt54 {
  margin-top: 54px;
}

.mb54 {
  margin-bottom: 54px;
}

.ml54 {
  margin-left: 54px;
}

.mr54 {
  margin-right: 54px;
}

.mt55 {
  margin-top: 55px;
}

.mb55 {
  margin-bottom: 55px;
}

.ml55 {
  margin-left: 55px;
}

.mr55 {
  margin-right: 55px;
}

.mt56 {
  margin-top: 56px;
}

.mb56 {
  margin-bottom: 56px;
}

.ml56 {
  margin-left: 56px;
}

.mr56 {
  margin-right: 56px;
}

.mt57 {
  margin-top: 57px;
}

.mb57 {
  margin-bottom: 57px;
}

.ml57 {
  margin-left: 57px;
}

.mr57 {
  margin-right: 57px;
}

.mt58 {
  margin-top: 58px;
}

.mb58 {
  margin-bottom: 58px;
}

.ml58 {
  margin-left: 58px;
}

.mr58 {
  margin-right: 58px;
}

.mt59 {
  margin-top: 59px;
}

.mb59 {
  margin-bottom: 59px;
}

.ml59 {
  margin-left: 59px;
}

.mr59 {
  margin-right: 59px;
}

.mt60 {
  margin-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.ml60 {
  margin-left: 60px;
}

.mr60 {
  margin-right: 60px;
}

.mt61 {
  margin-top: 61px;
}

.mb61 {
  margin-bottom: 61px;
}

.ml61 {
  margin-left: 61px;
}

.mr61 {
  margin-right: 61px;
}

.mt62 {
  margin-top: 62px;
}

.mb62 {
  margin-bottom: 62px;
}

.ml62 {
  margin-left: 62px;
}

.mr62 {
  margin-right: 62px;
}

.mt63 {
  margin-top: 63px;
}

.mb63 {
  margin-bottom: 63px;
}

.ml63 {
  margin-left: 63px;
}

.mr63 {
  margin-right: 63px;
}

.mt64 {
  margin-top: 64px;
}

.mb64 {
  margin-bottom: 64px;
}

.ml64 {
  margin-left: 64px;
}

.mr64 {
  margin-right: 64px;
}

.mt65 {
  margin-top: 65px;
}

.mb65 {
  margin-bottom: 65px;
}

.ml65 {
  margin-left: 65px;
}

.mr65 {
  margin-right: 65px;
}

.mt66 {
  margin-top: 66px;
}

.mb66 {
  margin-bottom: 66px;
}

.ml66 {
  margin-left: 66px;
}

.mr66 {
  margin-right: 66px;
}

.mt67 {
  margin-top: 67px;
}

.mb67 {
  margin-bottom: 67px;
}

.ml67 {
  margin-left: 67px;
}

.mr67 {
  margin-right: 67px;
}

.mt68 {
  margin-top: 68px;
}

.mb68 {
  margin-bottom: 68px;
}

.ml68 {
  margin-left: 68px;
}

.mr68 {
  margin-right: 68px;
}

.mt69 {
  margin-top: 69px;
}

.mb69 {
  margin-bottom: 69px;
}

.ml69 {
  margin-left: 69px;
}

.mr69 {
  margin-right: 69px;
}

.mt70 {
  margin-top: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.ml70 {
  margin-left: 70px;
}

.mr70 {
  margin-right: 70px;
}

.mt71 {
  margin-top: 71px;
}

.mb71 {
  margin-bottom: 71px;
}

.ml71 {
  margin-left: 71px;
}

.mr71 {
  margin-right: 71px;
}

.mt72 {
  margin-top: 72px;
}

.mb72 {
  margin-bottom: 72px;
}

.ml72 {
  margin-left: 72px;
}

.mr72 {
  margin-right: 72px;
}

.mt73 {
  margin-top: 73px;
}

.mb73 {
  margin-bottom: 73px;
}

.ml73 {
  margin-left: 73px;
}

.mr73 {
  margin-right: 73px;
}

.mt74 {
  margin-top: 74px;
}

.mb74 {
  margin-bottom: 74px;
}

.ml74 {
  margin-left: 74px;
}

.mr74 {
  margin-right: 74px;
}

.mt75 {
  margin-top: 75px;
}

.mb75 {
  margin-bottom: 75px;
}

.ml75 {
  margin-left: 75px;
}

.mr75 {
  margin-right: 75px;
}

.mt76 {
  margin-top: 76px;
}

.mb76 {
  margin-bottom: 76px;
}

.ml76 {
  margin-left: 76px;
}

.mr76 {
  margin-right: 76px;
}

.mt77 {
  margin-top: 77px;
}

.mb77 {
  margin-bottom: 77px;
}

.ml77 {
  margin-left: 77px;
}

.mr77 {
  margin-right: 77px;
}

.mt78 {
  margin-top: 78px;
}

.mb78 {
  margin-bottom: 78px;
}

.ml78 {
  margin-left: 78px;
}

.mr78 {
  margin-right: 78px;
}

.mt79 {
  margin-top: 79px;
}

.mb79 {
  margin-bottom: 79px;
}

.ml79 {
  margin-left: 79px;
}

.mr79 {
  margin-right: 79px;
}

.mt80 {
  margin-top: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.ml80 {
  margin-left: 80px;
}

.mr80 {
  margin-right: 80px;
}

.mt81 {
  margin-top: 81px;
}

.mb81 {
  margin-bottom: 81px;
}

.ml81 {
  margin-left: 81px;
}

.mr81 {
  margin-right: 81px;
}

.mt82 {
  margin-top: 82px;
}

.mb82 {
  margin-bottom: 82px;
}

.ml82 {
  margin-left: 82px;
}

.mr82 {
  margin-right: 82px;
}

.mt83 {
  margin-top: 83px;
}

.mb83 {
  margin-bottom: 83px;
}

.ml83 {
  margin-left: 83px;
}

.mr83 {
  margin-right: 83px;
}

.mt84 {
  margin-top: 84px;
}

.mb84 {
  margin-bottom: 84px;
}

.ml84 {
  margin-left: 84px;
}

.mr84 {
  margin-right: 84px;
}

.mt85 {
  margin-top: 85px;
}

.mb85 {
  margin-bottom: 85px;
}

.ml85 {
  margin-left: 85px;
}

.mr85 {
  margin-right: 85px;
}

.mt86 {
  margin-top: 86px;
}

.mb86 {
  margin-bottom: 86px;
}

.ml86 {
  margin-left: 86px;
}

.mr86 {
  margin-right: 86px;
}

.mt87 {
  margin-top: 87px;
}

.mb87 {
  margin-bottom: 87px;
}

.ml87 {
  margin-left: 87px;
}

.mr87 {
  margin-right: 87px;
}

.mt88 {
  margin-top: 88px;
}

.mb88 {
  margin-bottom: 88px;
}

.ml88 {
  margin-left: 88px;
}

.mr88 {
  margin-right: 88px;
}

.mt89 {
  margin-top: 89px;
}

.mb89 {
  margin-bottom: 89px;
}

.ml89 {
  margin-left: 89px;
}

.mr89 {
  margin-right: 89px;
}

.mt90 {
  margin-top: 90px;
}

.mb90 {
  margin-bottom: 90px;
}

.ml90 {
  margin-left: 90px;
}

.mr90 {
  margin-right: 90px;
}

.mt91 {
  margin-top: 91px;
}

.mb91 {
  margin-bottom: 91px;
}

.ml91 {
  margin-left: 91px;
}

.mr91 {
  margin-right: 91px;
}

.mt92 {
  margin-top: 92px;
}

.mb92 {
  margin-bottom: 92px;
}

.ml92 {
  margin-left: 92px;
}

.mr92 {
  margin-right: 92px;
}

.mt93 {
  margin-top: 93px;
}

.mb93 {
  margin-bottom: 93px;
}

.ml93 {
  margin-left: 93px;
}

.mr93 {
  margin-right: 93px;
}

.mt94 {
  margin-top: 94px;
}

.mb94 {
  margin-bottom: 94px;
}

.ml94 {
  margin-left: 94px;
}

.mr94 {
  margin-right: 94px;
}

.mt95 {
  margin-top: 95px;
}

.mb95 {
  margin-bottom: 95px;
}

.ml95 {
  margin-left: 95px;
}

.mr95 {
  margin-right: 95px;
}

.mt96 {
  margin-top: 96px;
}

.mb96 {
  margin-bottom: 96px;
}

.ml96 {
  margin-left: 96px;
}

.mr96 {
  margin-right: 96px;
}

.mt97 {
  margin-top: 97px;
}

.mb97 {
  margin-bottom: 97px;
}

.ml97 {
  margin-left: 97px;
}

.mr97 {
  margin-right: 97px;
}

.mt98 {
  margin-top: 98px;
}

.mb98 {
  margin-bottom: 98px;
}

.ml98 {
  margin-left: 98px;
}

.mr98 {
  margin-right: 98px;
}

.mt99 {
  margin-top: 99px;
}

.mb99 {
  margin-bottom: 99px;
}

.ml99 {
  margin-left: 99px;
}

.mr99 {
  margin-right: 99px;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.ml100 {
  margin-left: 100px;
}

.mr100 {
  margin-right: 100px;
}

/*====>fonts  ====*/
.fz0 {
  font-size: 0px;
}

.fz1 {
  font-size: 1px;
}

.fz2 {
  font-size: 2px;
}

.fz3 {
  font-size: 3px;
}

.fz4 {
  font-size: 4px;
}

.fz5 {
  font-size: 5px;
}

.fz6 {
  font-size: 6px;
}

.fz7 {
  font-size: 7px;
}

.fz8 {
  font-size: 8px;
}

.fz9 {
  font-size: 9px;
}

.fz10 {
  font-size: 10px;
}

.fz11 {
  font-size: 11px;
}

.fz12 {
  font-size: 12px;
}

.fz13 {
  font-size: 13px;
}

.fz14 {
  font-size: 14px;
}

.fz15 {
  font-size: 15px;
}

.fz16 {
  font-size: 16px;
}

.fz17 {
  font-size: 17px;
}

.fz18 {
  font-size: 18px;
}

.fz19 {
  font-size: 19px;
}

.fz20 {
  font-size: 20px;
}

.fz21 {
  font-size: 21px;
}

.fz22 {
  font-size: 22px;
}

.fz23 {
  font-size: 23px;
}

.fz24 {
  font-size: 24px;
}

.fz25 {
  font-size: 25px;
}

.fz26 {
  font-size: 26px;
}

.fz27 {
  font-size: 27px;
}

.fz28 {
  font-size: 28px;
}

.fz29 {
  font-size: 29px;
}

.fz30 {
  font-size: 30px;
}

.fz31 {
  font-size: 31px;
}

.fz32 {
  font-size: 32px;
}

.fz33 {
  font-size: 33px;
}

.fz34 {
  font-size: 34px;
}

.fz35 {
  font-size: 35px;
}

.fz36 {
  font-size: 36px;
}

.fz37 {
  font-size: 37px;
}

.fz38 {
  font-size: 38px;
}

.fz39 {
  font-size: 39px;
}

.fz40 {
  font-size: 40px;
}

.fz41 {
  font-size: 41px;
}

.fz42 {
  font-size: 42px;
}

.fz43 {
  font-size: 43px;
}

.fz44 {
  font-size: 44px;
}

.fz45 {
  font-size: 45px;
}

.fz46 {
  font-size: 46px;
}

.fz47 {
  font-size: 47px;
}

.fz48 {
  font-size: 48px;
}

.fz49 {
  font-size: 49px;
}

.fz50 {
  font-size: 50px;
}

.fz51 {
  font-size: 51px;
}

.fz52 {
  font-size: 52px;
}

.fz53 {
  font-size: 53px;
}

.fz54 {
  font-size: 54px;
}

.fz55 {
  font-size: 55px;
}

.fz56 {
  font-size: 56px;
}

.fz57 {
  font-size: 57px;
}

.fz58 {
  font-size: 58px;
}

.fz59 {
  font-size: 59px;
}

.fz60 {
  font-size: 60px;
}

.fz61 {
  font-size: 61px;
}

.fz62 {
  font-size: 62px;
}

.fz63 {
  font-size: 63px;
}

.fz64 {
  font-size: 64px;
}

.fz65 {
  font-size: 65px;
}

.fz66 {
  font-size: 66px;
}

.fz67 {
  font-size: 67px;
}

.fz68 {
  font-size: 68px;
}

.fz69 {
  font-size: 69px;
}

.fz70 {
  font-size: 70px;
}

.fz71 {
  font-size: 71px;
}

.fz72 {
  font-size: 72px;
}

.fz73 {
  font-size: 73px;
}

.fz74 {
  font-size: 74px;
}

.fz75 {
  font-size: 75px;
}

.fz76 {
  font-size: 76px;
}

.fz77 {
  font-size: 77px;
}

.fz78 {
  font-size: 78px;
}

.fz79 {
  font-size: 79px;
}

.fz80 {
  font-size: 80px;
}

.fz81 {
  font-size: 81px;
}

.fz82 {
  font-size: 82px;
}

.fz83 {
  font-size: 83px;
}

.fz84 {
  font-size: 84px;
}

.fz85 {
  font-size: 85px;
}

.fz86 {
  font-size: 86px;
}

.fz87 {
  font-size: 87px;
}

.fz88 {
  font-size: 88px;
}

.fz89 {
  font-size: 89px;
}

.fz90 {
  font-size: 90px;
}

.fz91 {
  font-size: 91px;
}

.fz92 {
  font-size: 92px;
}

.fz93 {
  font-size: 93px;
}

.fz94 {
  font-size: 94px;
}

.fz95 {
  font-size: 95px;
}

.fz96 {
  font-size: 96px;
}

.fz97 {
  font-size: 97px;
}

.fz98 {
  font-size: 98px;
}

.fz99 {
  font-size: 99px;
}

.fz100 {
  font-size: 100px;
}
